

<style type="text/css">


.holdformsi{
  padding: 50px;
}



.js-reveal {
  opacity: 1;
  transition: opacity .7s ease-in, margin-top .7s ease-out;
}

.js-reveal--hidden {
  opacity: 0;
  margin-top: 3em;
}


.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: left;
}

.farmprodssection{
  padding: 50px;
  background-color: #ffffff;
}

.landhypes{
  margin-top: 15px;
}

.infoaddlh{
  font-size: 18px;
  text-align: justify;
  font-weight: 300;
  line-height: 30px;
}

.famwantyou{
  height:560px;
  background:linear-gradient(0deg,rgba(0,0,0,1),rgba(0,0,0,0.1)),url(https://res.cloudinary.com/nikasemo/image/upload/c_scale,h_667,w_1000/v1508596086/shutterstock_215165338_nmkpdt.jpg);
  background-size:cover;
}

.calltoaction{
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #ffffff;
}

.famwantyousecthome{
  font-family: 'Righteous', cursive; 
  color: white; 
  font-size: 50px; 
  text-shadow: 1px 0px 6px rgba(150, 150, 150, 1);
  position: relative;
  top: 180px;
  text-align: center;
}

.calltoactionhead{
   font-family: 'Righteous', cursive; 
  color: white; 
  font-size: 35px; 
  text-align: center;
}

.famwantyousecthome2{
  font-family: 'Asap Condensed', 
  sans-serif; 
  letter-spacing: 2px;
  position: relative;
  top: 190px;
  text-align: center;
  color: #ffffff;
}

.calltoactionheadsub{
  font-family: 'Asap Condensed', 
  sans-serif; 
  letter-spacing: 2px;
  text-align: center;
  color: #333333;
}

.actreadm{
   position: relative;
  top: 200px;
  text-align: center;
  display: none;
}

.ayoon{
  border-radius: 12px;
  -webkit-box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.4);
-moz-box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.4);
box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.4);
}

.mycolorbtnw{
  background-color: #ffffff;
  color: #000;
}

.mycolorbtnw:hover{
  background-color: #f2f2f2;
  color: #000;
}

.mycolorbtnw:active{
  background-color: #f2f2f2;
  color: #000;
}

.foothead{
  color: white;
  font-family: 'Asap Condensed', sans-serif; 
}


</style>
 <body>

 <!-- Navigation -->


    <header>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <!-- Slide One - Set the background image for this slide in the line below -->
          <div class="carousel-item active" style="background-image: url('https://res.cloudinary.com/nikasemo/image/upload/v1509802031/farmhome_vf19pa.jpg')">
            <div class="carousel-caption d-md-block">
              <h3 style="font-family: 'Righteous', cursive; font-size: 30px; text-shadow: 1px 0px 6px rgba(0, 0, 0, 1);">Our Farm has the Best Products</h3>
    <p style="font-family: 'Asap Condensed', sans-serif; letter-spacing: 2px;">We have farms around Ghana. In the Nothern Regions and in Ashanti Region. It's been a a family tradition since 1928.</p>
  
            </div>
          </div>
          <!-- Slide Two - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('https://res.cloudinary.com/nikasemo/image/upload/v1507344519/shutterstock_478027144_yxoken.jpg')">
            <div class="carousel-caption d-md-block">
              <h3 style="font-family: 'Righteous', cursive; font-size: 30px; text-shadow: 1px 0px 6px rgba(0, 0, 0, 1);">Fresh Maize and well stored staples.</h3>
    <p style="font-family: 'Asap Condensed', sans-serif; letter-spacing: 2px;">We provide the best staple products. Your yam, plantain and maize. Our staples are grown under great conditions.</p>
            </div>
          </div>
          <!-- Slide Three - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('https://res.cloudinary.com/nikasemo/image/upload/v1507341488/shutterstock_640679905_se7kkl.jpg')">
            <div class="carousel-caption d-md-block">
              <h3 style="font-family: 'Righteous', cursive; font-size: 30px; text-shadow: 1px 0px 6px rgba(0, 0, 0, 1);">Livestock and fresh milk</h3>
    <p style="font-family: 'Asap Condensed', sans-serif; letter-spacing: 2px;">Our livestock are raised under the best conditions. Our livestock includes cattle, goats, pigs and sheep. We also have fresh milk.</p>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </header>

<section class="farmprodssection">

<div class="container">
    <div class="row">
        <div class="col-md-4 co-lg-4 col-sm-12">
            <div class="informationhypecontainer">
                <img src="https://res.cloudinary.com/nikasemo/image/upload/v1507345821/shutterstock_111045971_novzm7.jpg" width="100%" height="200px" class="img-responsive ayoon">
                <h4 class="landhypes" style="color: #00ee00; margin-bottom: 15px;">Fresh Farm produce.</h4>
                <p class="infoaddlh">
                 Our produce is always fresh from the farm. We amke it available to retailers, distributers and homes for individual consumption and for sale too. We have the best yam, plantain, and maize in the region at very affordable prices. We also have too Livestock.
                </p>
            </div>
        </div>
        <div class="col-md-4 co-lg-4 col-sm-12">
            <div class="informationhypecontainer">
                <img src="https://res.cloudinary.com/nikasemo/image/upload/v1507346057/shutterstock_586556567_xcfbwn.jpg" width="100%" height="200px" class="img-responsive ayoon">
                <h4 class="landhypes" style="color: #00ee00; margin-bottom: 15px;">Fresh Milk and Meat.</h4>
                <p class="infoaddlh">
                 Our livestock farms are very well kept so we produce infection free animals. The milk these animals also produce are also purified and very clean. Our livestock, milk and meat are available buy buyer request. Great livestock, meat and milk at very affordable prices. Place your order online.
                </p>
            </div>
        </div>
        <div class="col-md-4 co-lg-4 col-sm-12" style="margin-bottom: 20px;">
            <div class="informationhypecontainer">
                <img src="https://res.cloudinary.com/nikasemo/image/upload/v1507346102/shutterstock_569120836_oteyky.jpg" width="200px" height="200px" class="img-responsive ayoon">
                <h4 class="landhypes" style="color: #00ee00; margin-bottom: 15px;">Order Online.</h4>
                <p class="infoaddlh">
                 Through our online portal, you can order your staples, meat, livestock and milk in any quantity. We also do door to door delivery. CLick on the place order button at the top right corner of the screen(On desktop, on phone kindly click the menu button at your top right corner. You will se the place order button in the menu). Place an order today!
                </p>
            </div>
        </div>
      </div>
    </div>

</section>

<section class="py-5" style="background-color: #00ee00;">
      <div class="container">
        <h1 style="font-family: 'Poppins', sans-serif; text-align: center; color: white;" class="js-reveal">Our brand is always tried and true.</h1>
        <hr class="worksdivider">
        <div class ="row">
          <div class="col-sm-12">
           <p style="font-weight: 300; font-size: 18px; text-align: center; color: white;" class="js-reveal">
           From 1928, Naaseon farms has stood out among other farms. We began as a cocoa farm in 1928. We have added a lot of farms products along the way. Our vision is to feed the nations of the world with staples at stable prices. We have staples like maize, yam and plantain. We also have in stock livestock like sheeps, goats, pigs and cattle. You can easily order your farm produce online with our portal and have them delivered to your doorstep. Skip the hustle and bustle. Find the best on Naaseon Farms.
           </p><br>
            <p style="text-align: center;"><a href="/about" class="btn mycolorbtnw btn-lg" class="js-reveal">More About This</a></p>
          </div>
        </div>
      </div>
    </section>

     <section class="famwantyou">
  <h3 class="famwantyousecthome js-reveal">Healthy food for healthy<br>living.</h3>
  <p class="famwantyousecthome2 js-reveal">Healthy foods furnish you eith the right nutrients.<br>Healthy foods consists of healthy food stuffs.</p>
  <p style="text-align: center;"><a href="/vision" class="btn btn-primary btn-lg actreadm js-reveal">Read More</a></p>
    </section>

    <section class="calltoaction">

     <h3 class="calltoactionhead js-reveal" style="color: #00e600;">Place your order, Receive<br>your produce.</h3>
     <p class="calltoactionheadsub js-reveal">Do you have a shop in town? Do you buy foodstuff to resell? Are you a busy parent? <br>Visit the link below and place an order today.</p>
     <p style="text-align: center;"><a href="/orders/new" class="btn btn-primary btn-lg js-reveal">Place An Order Today!</a></p>
    </section>

    </section>

   </body>



