

<style type="text/css">

 a {
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:hover {
  text-decoration: none;
}


  .navbackground{
     background-color: #ffffff;
    -webkit-box-shadow: 0px 0px 35px -1px rgba(0,0,0,0.89);
-moz-box-shadow: 0px 0px 35px -1px rgba(0,0,0,0.89);
box-shadow: 0px 0px 35px -1px rgba(0,0,0,0.89);
  }



.navbar-brand1 {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}




.navbar-light .navbar-brand1{
color: #000; 
font-weight: 700;
font-family: 'Poppins', sans-serif;
}

.navbar-scroll{
color: #000; 
font-weight: 700;
font-family: 'Poppins', sans-serif;
}

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
  color: white;
}

.navbar-light .navbar-scroll:focus, .navbar-light .navbar-scroll:hover {
  color: #343a40;
}

.navbar-light .navbar-nav .nav-link {
  color: #00e600;
  font-weight: 300;
  font-family: 'Asap Condensed', sans-serif;
  transition: border-color .5s ease-in-out;
    -webkit-transition: border-color .5s ease-in-out;
    -moz-transition: border-color .5s ease-in-out;
  border-bottom: 4px solid transparent;
}

.navlinkscroll{
  color: #343a40;
  
}

.navbar-light .navbar-nav .nav-link:focus {
  color: #00e600;
  font-weight: 700;
  border-bottom-color:#00e600;
}

 .navbar-light .navbar-nav .nav-link:hover {
  color: #00e600;
  font-weight: 700;
  border-bottom-color: #00e600;
}

.navbar-light .navbar-nav .nav-link.disabled {
  color: rgba(0, 0, 0, 0.3);
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
  color: #ffffff;
  font-weight: 500;
  background-color: #00e600;
  border-radius: 3px;
  padding: 5px;
}

.holdformsi{
  padding: 50px;
}



.js-reveal {
  opacity: 1;
  transition: opacity .7s ease-in, margin-top .7s ease-out;
}

.js-reveal--hidden {
  opacity: 0;
  margin-top: 3em;
}


.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: left;
}

.farmprodssection{
  padding: 50px;
  background-color: #ffffff;
}

.landhypes{
  margin-top: 15px;
}

.infoaddlh{
  font-size: 18px;
  text-align: justify;
  font-weight: 300;
  line-height: 30px;
}

.ayoon{
  border-radius: 12px;
  -webkit-box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.4);
-moz-box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.4);
box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.4);
}

.mycolorbtnw{
  background-color: #ffffff;
  color: #000;
}

.mycolorbtnw:hover{
  background-color: #f2f2f2;
  color: #000;
}

.mycolorbtnw:active{
  background-color: #f2f2f2;
  color: #000;
}

.foothead{
  color: white;
  font-family: 'Asap Condensed', sans-serif; 
}


</style>
 <body>

 <!-- Navigation -->


    <header>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <!-- Slide One - Set the background image for this slide in the line below -->
          <div class="carousel-item active" style="background-image: url('https://res.cloudinary.com/nikasemo/image/upload/v1507344048/farms_lmvgtm.jpg')">
            <div class="carousel-caption d-none d-md-block">
              <h3 style="font-family: 'Righteous', cursive; font-size: 30px; text-shadow: 1px 0px 6px rgba(0, 0, 0, 1);">Our Farm has the Best Products</h3>
    <p style="font-family: 'Asap Condensed', sans-serif; letter-spacing: 2px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
  
            </div>
          </div>
          <!-- Slide Two - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('https://res.cloudinary.com/nikasemo/image/upload/v1507344519/shutterstock_478027144_yxoken.jpg')">
            <div class="carousel-caption d-none d-md-block">
              <h3 style="font-family: 'Righteous', cursive; font-size: 30px; text-shadow: 1px 0px 6px rgba(0, 0, 0, 1);">Fresh Maize and well stored.</h3>
    <p style="font-family: 'Asap Condensed', sans-serif; letter-spacing: 2px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
            </div>
          </div>
          <!-- Slide Three - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('https://res.cloudinary.com/nikasemo/image/upload/v1507341488/shutterstock_640679905_se7kkl.jpg')">
            <div class="carousel-caption d-none d-md-block">
              <h3 style="font-family: 'Righteous', cursive; font-size: 30px; text-shadow: 1px 0px 6px rgba(0, 0, 0, 1);">Cattle and cattle milk</h3>
    <p style="font-family: 'Asap Condensed', sans-serif; letter-spacing: 2px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </header>

<section class="farmprodssection">

<div class="container">
    <div class="row">
        <div class="col-md-4 co-lg-4 col-sm-12">
            <div class="informationhypecontainer">
                <img src="https://res.cloudinary.com/nikasemo/image/upload/v1507345821/shutterstock_111045971_novzm7.jpg" width="300px" height="200px" class="img-responsive ayoon">
                <h4 class="landhypes" style="color: #00ee00; margin-bottom: 15px;">Fresh Farm produce.</h4>
                <p class="infoaddlh">
                 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptat
                
                </p>
            </div>
        </div>
        <div class="col-md-4 co-lg-4 col-sm-12">
            <div class="informationhypecontainer">
                <img src="https://res.cloudinary.com/nikasemo/image/upload/v1507346057/shutterstock_586556567_xcfbwn.jpg" width="300px" height="200px" class="img-responsive ayoon">
                <h4 class="landhypes" style="color: #00ee00; margin-bottom: 15px;">Fresh Milk and Meat.</h4>
                <p class="infoaddlh">
                 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptat
                </p>
            </div>
        </div>
        <div class="col-md-4 co-lg-4 col-sm-12" style="margin-bottom: 20px;">
            <div class="informationhypecontainer">
                <img src="https://res.cloudinary.com/nikasemo/image/upload/v1507346102/shutterstock_569120836_oteyky.jpg" width="200px" height="200px" class="img-responsive ayoon">
                <h4 class="landhypes" style="color: #00ee00; margin-bottom: 15px;">Order Online.</h4>
                <p class="infoaddlh">
                 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptat
                </p>
            </div>
        </div>
      </div>
    </div>

</section>

<section class="py-5" style="background-color: #00ee00;">
      <div class="container">
        <h1 style="font-family: 'Poppins', sans-serif; text-align: center; color: white;" class="js-reveal">Our produce is always kept fresh</h1>
        <hr class="worksdivider">
        <div class ="row">
          <div class="col-sm-12">
           <p style="font-weight: 300; font-size: 18px; text-align: center; color: white;" class="js-reveal">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptat</p><br>
            <p style="text-align: center;"><a href="/about" class="btn mycolorbtnw btn-lg" class="js-reveal">More About This</a></p>
          </div>
        </div>
      </div>
    </section>

   </body>



