<p style="text-align: left;"><img src="https://res.cloudinary.com/nikasemo/image/upload/v1509801052/naaseonlogo231_nrinug.png" width="75px" height="55px" style="margin-right:5px;">
          <span style="position:relative; top: -50px; color: #77d02e; font-size: 30px; font-weight: 900;">Naaseon Farms</span></p>
<br>
<h4>Hello <%= @order.buyername %>,</h4>
<p>Your Order has been fulfilled. You will receive your order in X amount of days.</p>