<p style="text-align: center;"><img src="https://res.cloudinary.com/nikasemo/image/upload/v1509801052/naaseonlogo231_nrinug.png" width="75px" height="55px" style="margin-right:5px;">
          <span style="position:relative; top: 3px; color: #77d02e;">Naaseon Farms</span></p>
<h5>Hello <%= @order.buyername %></h5>
<br>
<p>Your Order has been fulfilled. You will receive your order in X amount of days.</p>