<style type="text/css">
.aduins{
 background:linear-gradient(0deg,rgba(0,0,0,0.8),rgba(0,0,0,0.1)),url(https://res.cloudinary.com/nikasemo/image/upload/v1508156034/shutterstock_611258939_ksdniu.jpg);
  background-position:center;
  min-height: 200px;
}
</style>

<section class="aduins">
  <div class="container">
    <div class="row" style="margin-top: 70px">
      <div class="col-lg-12">
        <h1 style="text-align: center; color: white; position: relative; top: 65px; font-weight: 900;  text-shadow: 1px 0px 6px rgba(0, 0, 0, 1);">All farm Produce</h1>
      </div>
    </div>
  </div>
</section>

<section class="bodyproducts">

<div class="container">
  <div class="row">
    <%= render @products %>
  </div>
</div>

</section>
   




